CompileFlags:
  Add: [
    "-I../include",
    "-I/opt/homebrew/Cellar/glew/2.2.0_1/include",
    "-I/opt/homebrew/Cellar/glfw/3.4/include",
    "-I/opt/homebrew/Cellar/glm/1.0.1/include",
    "-I/opt/homebrew/Cellar/assimp/5.4.2/include"
  ]
